nav {
    width: 20rem;
    background-color: #eee;
    border-right: 1px solid #ddd;
    /* height:100% 그냥 적용 안됨. 부모개념이 있어야 채워질 수 있음 */
    position: fixed; /*공중에 떠서 공간을 차지하지 않음*/
    left: 0;
    height: 100% /*fixed를 해서 높이 100%가 가능해짐*/
}

.menu {
    list-style: none;
}

.menu li {
    height: 2rem;
    display: block;
}

#superCategory {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/*메뉴*/
.menu li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 10px;
}

.menu li a:hover {
    background-color: #b4ffa4;
}

#navHead {
    padding: 60px 20px 20px 20px;
    text-align: center;
}

#navHead a {
    text-decoration: none;
    color: black;
    margin-bottom: 2rem;
}

#navHead h3:hover, #navHead h5:hover {
    background-color: #b4ffa4;
}