<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragments/header :: header">
    <meta charset="UTF-8">
    <title>Gon's Blog</title>
</head>
<style>
    section {
        padding: 20px 20px 20px 20px;
        margin-left: 20rem;
    }

</style>
<body>

<div class="wrap" style="background: #efefef">

    <th:block th:replace="layout/fragments/sidebar :: sidebar"/>

    <section style="min-height: 96vh">
        <h5>테스트</h5>
    </section>

    <th:block th:replace="layout/fragments/footer :: footer"/>

</div>
</body>
</html>