<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout/fragments/header :: header">
    <meta charset="UTF-8">
    <title>Gon's Blog</title>
</head>
<link rel="stylesheet" th:href="@{/css/login.css}">
<body>

<section class="row g-0 row-cols-xxl-2 g-xxl-0 p-0 ">

    <!-- sidebar-xxl -->
    <div class="bg-light sidebar col-xxl-2 d-none d-xxl-block p-0 overflow-auto">
        <div class="p-4 sidebar-inner bg-light">
            <div th:replace="layout/fragments/sidebar.html :: sideBar"></div>
        </div>
    </div>
    <div class="bg-light col-xxl-2 d-none d-xxl-block p-0">
    </div>

    <!-- sections -->
    <div class="col-xxl-10 p-0 sections-container">


        <section class="login-section">

            <div class=""></div>

            <div class="card container login-box">
                <P class="text-center alert" id="capsAlert" th:text="${errMsg}">로그인 오류</P>
                <div class="d-flex flex-column card-body align-items-center justify-content-center">
                    <h5>
                        SNS 간편 가입/로그인
                    </h5>

                    <hr/>

                    <div class="col m-2">
                        <a href="/oauth2/authorization/google">
                            <button class="btnCtm btn-google">구글 로그인</button>
                        </a>
                    </div>

                </div>
            </div>


        </section>

        <footer class="footer bg-light mt-5">
            <div class="container text-center p-2">
                <h5><span class="text-muted">Copyright ©Gon</span></h5>
            </div>
        </footer>
    </div>
</section>
</body>
</html>